---
import Header from "../../components/Header.astro"
import Logo from "../../components/Logo.astro"
import "../../styles/style.css"
import MainLayout from "../../layout/Mainlayout.astro"
export async function getStaticPaths() {
  const data = await fetch("https://udntugbxmijixyecsglu.supabase.co/rest/v1/eksamen_10?order=order.asc",
  {
	method:"GET",
	headers: {
		apikey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkbnR1Z2J4bWlqaXh5ZWNzZ2x1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3Mzk5MTcsImV4cCI6MjAzMDMxNTkxN30.F2LbcCGrABehU4gaujhAuDCpNl9dgBtoTZezpERrH8A"
	}
  }
  ).then(response => response.json());

  return data.map((artist) => {
    return {
      params: { slug: artist.slug },
      props: { myData:artist },
    };
  });
}
const { myData } = Astro.props;

---

<MainLayout title={ myData.name }>
    <Header link1="/" link2="/#omos" link3="/#kunstnere" link4="/#events"ikon1="/img/ig.svg" link5="/book" ikon2="/img/fb.svg" ikon3="/img/spotify.svg" ikon4="/img/yt.svg"/>
    
    <div class="grid">
        <div class="singleHero">
        <img src = `https://udntugbxmijixyecsglu.supabase.co/storage/v1/object/public/hero_imgs/${myData.image}`;>
        <h2 class="artistName">{myData.name}</h2>
        </div>
    <p class="desc">{myData.about}</p>
    <div class="info">
       
        <p>EXPLORE ON</p>
        <div class="links">
        <a href={myData.spotify}>
            <img id="sp" src="../../img/spotify.svg" alt="spotify">
        </a>
        <a href={myData.insta}>
            <img id="ig" src="../../img/ig.svg" alt="youtube">
        </a>
        </div>
    </div>
    </MainLayout>
    <footer>
        <Logo></Logo>
        <div class="footer_nav">
            <p class="p_footer">HoldiHånd Management</p>
            <p class="p_footer">+45 93869610</p>
            <p class="p_footer">kontakt@holdihaand.dk</p>
            <div class="ikoner_nav">
                <a href="https://www.instagram.com/holdihaand"><img class="img_nav" id="ig" src="/img/ig.svg" alt="instagram"></a>
                <a href="https://www.facebook.com/profile.php?id=100089966163240"><img class="img_nav" id="fb" src="/img/fb.svg" alt="facebook"></a>
                <a href="https://open.spotify.com/artist/23O7ZuQSrSCrrlY3Y3SoBN"><img class="img_nav" id="sp" src="/img/spotify.svg" alt="spotify"></a>
                <a href="https://www.youtube.com/"><img class="img_nav" id="yt" src="/img/yt.svg" alt="youtube"></a>
            </div>
        </div>
    </footer>

    <style>
/* footer */
.logga{
    padding-bottom: 200px;
}

.ikoner_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer{
    font-weight: bold;
    text-align: center;
    margin-bottom: 47px;
}

.p_footer{
    margin-bottom: 12px;
}
.img_nav{
    padding: 5px;
}

.grid {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleHero {
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleHero img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.artistName {
    position: absolute;
    top: 11.6rem;
    mix-blend-mode: exclusion;
    font-style: italic;
}

.desc {
    margin: 40px 20px; 
    max-width: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links img {
    width: 40px;
    height: 60px; 
    margin: 0 10px;
}

@media (min-width: 650px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: start;
    }

    .singleHero {
        grid-column: 1 / -1;
        height: 400px;
    }

    .singleHero img {
        height: 400px;
    }

    .artistName {
        top: 22.5rem;
        
    }

    .desc {
        grid-column: 1 / 2;
        grid-row: 2;
        text-align: left;
        margin-left: 50px;
        max-width: 100%;
        margin-right: auto;
    }

    .info {
        grid-column: 2 / 3;
        grid-row: 2;
        text-align: start;
        margin-left: 95px;
    }

    .links img {
        width: 55px; 
        height: 80px;
    margin: 0 10px; 
    }
}

    @media (min-width: 500px){
    img{
    padding: 5px;
}

    .ikoner{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    top: 10px;
}
#ig:hover{
    content: url("/img/ig_hov.svg");
}
#fb:hover{
    content: url("/img/fb_hov.svg");
}
#sp:hover{
    content: url("/img/spotify_hov.svg");
}
#yt:hover{
    content: url("/img/yt_hov.svg");
}

img{
    padding: 3.5px;
height: 40px;
}
}

@media (min-width: 1050px){
    footer{
        margin-left: 30px;
        margin-right: 60px;
    }

  
.footer_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


}

    </style>