---
const {link1} = Astro.props
const {link2} = Astro.props
const {link3} = Astro.props
const {link4} = Astro.props
const {link5} = Astro.props
const {ikon1} = Astro.props
const {ikon2} = Astro.props
const {ikon3} = Astro.props
const {ikon4} = Astro.props
---

<div class="header">
    
    <div class="dropdown">
    <button class="dropbtn">MENU</button>
    <div class="nav">
        <a href={link1}>HJEM</a>
        <a href={link2}>OM HOLDIHÅND</a>
        <a href={link3}>KUNSTNERE</a>
        <a href={link4}>EVENT KALENDER</a>
        <a href={link5}>BOOK MØDE</a>
    </div>
</div>

<div class="ikoner">
  <a href="https://www.instagram.com/holdihaand"><img id="ig" src={ikon1} alt="instagram"></a>
  <a href="https://www.facebook.com/profile.php?id=100089966163240"><img id="fb" src={ikon2} alt="facebook"></a>
  <a href="https://open.spotify.com/artist/23O7ZuQSrSCrrlY3Y3SoBN"><img id="sp" src={ikon3} alt="spotify"></a>
  <a href="https://www.youtube.com/"><img id="yt" src={ikon4} alt="youtube"></a>
</div>
</div>
<style>

button{
  font-family: "Arimo", sans-serif;
}
.dropbtn {
  background-color: var(--lysgrå_col);
  color: var(--background_col);
  border: none;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 0px;
  right: 0px;
  padding: 10px;
  border-radius: 1.5px;
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: bold;
}

.dropdown {
  place-content: end end;
  padding: 5px;
  position: fixed;
  display: inline-block;
  top: 10px;
  left: 10px;
  z-index: 7;
}

.nav {
  display: none;
  position: fixed;
  background-color: var(--lysgrå_col);
  opacity: 100%;
  border-radius: 1.5px;
  top: 50px;
}

.nav a {
  color: var(--background_col);
  padding: 4px 6px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.nav a:hover {
  background-color: var(--grå_col);
}

.dropdown:hover .nav {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #21314A;
}


.header{
    display: flex;
    justify-content: space-between;
}
.ikoner{
    display: none;
    z-index: 11;
}
@media (min-width: 500px){
    img{
    padding: 5px;
}

    .ikoner{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    top: 10px;
}
#ig:hover{
    content: url("/img/ig_hov.svg");
}
#fb:hover{
    content: url("/img/fb_hov.svg");
}
#sp:hover{
    content: url("/img/spotify_hov.svg");
}
#yt:hover{
    content: url("/img/yt_hov.svg");
}

img{
    padding: 3.5px;
height: 40px;
}

.dropbtn{
  font-size: 25px;
}
.nav{
  top: 64px;
  padding: 12px 16px;
  font-size: 20px;
}
.nav a{
  padding: 12px 16px;
}
}

</style>